{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
  

  <style>
    #div3 {background-color: #04323F;}
    body{        
        color: white; 
        font-weight: bold;
        background-image: url("/static/img/login1.jpg"); 
        font-weight: bold; 

       }
    h3{color:#D3590F}
    #margem {margin-left: 20px;
             margin-right: 20px;
             margin-bottom: 10px;}
       
  </style>

</head>

<body>

  <div id = "div1"class="row"> <p>
    <div class="col-md-12">
    </div>
  </div>

  <div id = "div3" class="col-md-12"> <br>
    <img src = "{% static "img/finance1.jpg" %}" width = "100" align="right">
    <br><br><br>
  </div>

<br></br><br></br><br></br>
<div class="container mt-6">  
    <form action="submit", method="POST">{% csrf_token %}
      <div class="row" style="margin-left:25%; margin-right:25%; margin-top:5%">
          <div id = "div3" class="col-4">
            <h3 class="text-center">Financezy</h3>
            <div id = "margem" class="form-group">
              <label for="username">Usuário:</label>
              <input type="username" class="form-control" id="username" placeholder="E-mail" name="username" size="10">
            </div>
            <div id="margem" class="form-group">
              <label for="pwd">Senha:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Senha" name="password">
            </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">
                                <strong> ERROR! </strong> {{ message }}
                            </div>
                        {% endfor %}
  
                    {% endif %}
            <button id="margem" type="submit" class="btn btn-danger">Entrar</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>